# ===== TELEGRAM =====
BOT_TOKEN=

# ===== АВТОРИЗОВАННЫЕ СОТРУДНИКИ =====
ALLOWED_USER_IDS=

# ===== IMGBB =====
IMGBB_API_KEY=

# ===== GOOGLE APPS SCRIPT =====
GOOGLE_SCRIPT_URL=

# ===== СЕРВЕР =====
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# ===== MINI APP URL =====
MINI_APP_URL=
