# Postman
postman/
.postman/

# Environment
.env
OnAirHelpBot/.env

# Python
__pycache__/
*.pyc
venv/
.venv/

# System
.DS_Store

# Tilda Display Files (Hidden from Git)
OnAirHelpBot/investor_display.html
OnAirHelpBot/trader_display.html
